<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891925302993-bblfffipqilsr8ujh5fb1c0eojbbl4p8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891925302993-bblfffipqilsr8ujh5fb1c0eojbbl4p8</string>
	<key>API_KEY</key>
	<string>AIzaSyB1Xu7vV_3NN5Cbb8i2zc22kwNSfJEi0IA</string>
	<key>GCM_SENDER_ID</key>
	<string>891925302993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>cl-prototype</string>
	<key>STORAGE_BUCKET</key>
	<string>cl-prototype.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891925302993:ios:1b152488499c7297f73ff0</string>
</dict>
</plist>